@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-neutral-light;
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  html {
    @apply font-serif text-base;
  }

  h1 {
    @apply font-sans text-9xl;
  }
  h2 {
    @apply font-sans text-8xl;
  }
  h3 {
    @apply font-sans text-6xl;
  }
  h4 {
    @apply font-sans text-4xl;
  }

  h5 {
    @apply font-serif text-3xl;
  }

  .subh1 {
    @apply font-sans text-3xl;
  }
  .subh2 {
    @apply font-serif text-lg;
  }

  nav > span {
    @apply font-serif text-base;
  }
}

.nav-underline {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  @apply underline  transition-all duration-500 sm:underline-offset-[36px];
}

.nav-underline.nav-underline-small {
  @apply sm:underline-offset-8;
}

.nav-underline-active {
  text-decoration: underline 0.15em rgba(255, 255, 255, 1);
}

.nav-underline:hover:not(.nav-underline-active) {
  text-decoration-color: rgb(120, 120, 120);
}

.nav-point {
  @apply block h-3 w-3  rounded-full bg-neutral-shade;
}

.nav-point:hover {
  @apply bg-neutral-light bg-opacity-75;
}
.nav-point.nav-point-active {
  @apply bg-neutral-light;
}
